recursive-include src *
recursive-include include *
include CMakeLists.txt

include extlib/CMakeLists.txt

# nlohman/json
include extlib/nlohmann/json.hpp

# fmt
recursive-include extlib/fmt/include *
recursive-include extlib/fmt/src *
recursive-include extlib/fmt/support/cmake *
include extlib/fmt/CMakeLists.txt
include extlib/fmt/*.rst
include extlib/fmt/README.md
include extlib/fmt/ChangeLog.md

# highfive
recursive-include extlib/HighFive/include *
include extlib/HighFive/CMakeLists.txt
include extlib/HighFive/LICENSE

# ghc::filesystem
include extlib/filesystem.hpp

# pybind11
recursive-include python/pybind11/include *
recursive-include python/pybind11/tools *.cmake
include python/pybind11/CMakeLists.txt
include python/pybind11/LICENSE
