recursive-include src *
recursive-include include *
include VERSION
include CMakeLists.txt

# fmt
recursive-include extlib/fmt/include *
recursive-include extlib/fmt/src *
recursive-include extlib/fmt/support/cmake *.cmake
include extlib/fmt/CMakeLists.txt
include extlib/fmt/*.rst

# highfive
recursive-include extlib/HighFive/include *
include extlib/HighFive/CMakeLists.txt
include extlib/HighFive/LICENSE

# pybind11
recursive-include python/pybind11/include *
recursive-include python/pybind11/tools *.cmake
include python/pybind11/CMakeLists.txt
include python/pybind11/LICENSE
